{% extends "shared/base.html" %}


{% block title %}
  <title>Homework Board</title>
{% endblock %}

{% block content %}
  {% with msg=msg %}
    {% include "components/alerts.html" %}
  {% endwith %}
  <div class="container">

  <div class="row">
  <h2 class="ui header">
  <i class="spinner loading graduation cap icon"></i>
  Your homework
  </h2>
  </div>


<div class="ui stackable three column divided grid container">
     <div class="row">
    {% for task in tasks %}

        <div class="column">
           {% with obj=task %}
      		{% include "components/cards.html" %}
    	    {% endwith %}
        </div>
         {% if loop.index % 4 == 0 %}
     </div><div class="row">
         {% elif loop.index % 3 == 0 %}
         </div>
         {% endif %}
    {% endfor %}
    </div>
  </div>

{% endblock %}
