{% extends "shared/base.html" %}


{% block title %}
  <title>Homework Board</title>
{% endblock %}

{% block content %}
  {% with msg=msg %}
    {% include "components/alerts.html" %}
  {% endwith %}

<style>
.board {
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.column {
  width: 300px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #e2e4e6;
}

.column-header {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #f7f7f7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #ccc;
}

.card {
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}

.card:hover {
  cursor: grab;
}

.card:active {
  cursor: grabbing;
  background-color: #f5f5f5;
}



  @media only screen and (min-width: 600px) {
    .column {
      width: calc(40% - 20px);
      margin: 0 10px 20px 0;
    }
</style>
<script>
document.addEventListener("dragstart", function(event) {
  if (event.target.classList.contains("card")) {
    draggedCard = event.target;
    event.dataTransfer.setData("text/plain", event.target.dataset.taskId);
    event.target.style.opacity = "0.5";
  }
});

document.addEventListener("dragend", function(event) {
  if (event.target.classList.contains("card")) {
    event.target.style.opacity = "1";
  }
});

document.addEventListener("dragenter", function(event) {
  if (event.target.classList.contains("column")) {
    event.target.style.border = "2px dotted #ccc";
  }
});

document.addEventListener("dragleave", function(event) {
  if (event.target.classList.contains("column")) {
    event.target.style.border = "";
  }
});

document.addEventListener("dragover", function(event) {
event.dataTransfer.dropEffect = "move";
  event.preventDefault();
});

document.addEventListener("drop", function(event) {
  if (event.target.classList.contains("column") && draggedCard !== null) {
    event.preventDefault();
    event.target.appendChild(draggedCard);
    draggedCard = null;

    // отправляем AJAX-запрос на сервер для изменения статуса задачи
    const taskId = event.target.lastChild.dataset.taskId;
    const column = event.target.parentNode.dataset.column;
    $.ajax({
  type: "POST",
  url: "/update-task-status/",
  data: JSON.stringify({'id': taskId, 'status': column}),
  contentType: "application/json",
  success: function(response) {
    console.log(response);
  },
  error: function(xhr, status, error) {
    console.log(xhr.responseText);
  }
});


  }
});

// Объявляем переменные для хранения элементов, которые будут перемещаться
let draggedCard = null;
let draggedCardId = null;

// Функция для отправки запроса на изменение статуса задачи
function updateTaskStatus(taskId, newStatus) {
  $.ajax({
    url: "/update-task-status/",
    type: "POST",
    data: { id: taskId, status: newStatus },
    success: function(response) {
      console.log(response);
    },
    error: function(xhr) {
      console.log(xhr.responseText);
    }
  });
}

// Обработчик события dragstart для начала перетаскивания карточки
document.addEventListener("dragstart", function(event) {
  if (event.target.classList.contains("card")) {
    draggedCard = event.target;
    draggedCardId = event.target.dataset.taskId;
    event.dataTransfer.setData("text/plain", draggedCardId);
    event.target.style.opacity = "0.5";
  }
});

// Обработчик события dragend для окончания перетаскивания карточки
document.addEventListener("dragend", function(event) {
  if (event.target.classList.contains("card")) {
    event.target.style.opacity = "1";
  }
});

// Обработчик события dragenter для входа курсора в область другого столбца
document.addEventListener("dragenter", function(event) {
  if (event.target.classList.contains("column")) {
    event.target.style.border = "2px dotted #ccc";
  }
});

// Обработчик события dragleave для выхода курсора из области другого столбца
document.addEventListener("dragleave", function(event) {
  if (event.target.classList.contains("column")) {
    event.target.style.border = "";
  }
});

// Обработчик события dragover для перемещения карточки в другой столбец
document.addEventListener("dragover", function(event) {
  event.dataTransfer.dropEffect = "move";
  event.preventDefault();
});

// Обработчик события drop для завершения перемещения карточки в другой столбец
document.addEventListener("drop", function(event) {
  if (event.target.classList.contains("column") && draggedCard !== null) {
    event.preventDefault();
    event.target.appendChild(draggedCard);
    draggedCard = null;
    // Определяем название столбца, в который была перемещена карточка
    const newColumn = event.target.dataset.status;
    // Отправляем запрос на изменение статуса задачи
    updateTaskStatus(draggedCardId, newColumn);
  }
});

</script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="ui container">
		<!-- Заголовок страницы -->
		<div class="ui segment" style="display: flex; justify-content: space-between; align-items: center;">
            <h1 class="ui header">Homeworks</h1>
            <div class="ui fitted slider checkbox">
                <input type="checkbox">
                <label></label>
            </div>
        </div>

  <div class="board">
  <div class="column">

    <div class="column-header">To do</div>

      <div class="ui small card positive message" draggable="true">
         <div class="content">
          <span class="meta">Column with tasks to do</span>

         </div>
    </div>
      {% for task in tasks %}
        {% if task.status == 'todo' %}
            <div class="card-list">
                    <div class="ui fluid small card" draggable="true" data-task-id="{{ task.id }}">
                         <div class="content">
                        <a class="header"></a>
                             <a class="header">{{task.title}}</a>
                          <div class="meta">
                              <span class="date">Soft deadline: {{task.soft_deadline}}</span>
                          </div>
                          <div class="meta">
                              <span class="date">Deadline: {{task.deadline}}</span>
                          </div>
                          <div class="extra content">
                          <div class="ui two buttons">
                              <a class="ui basic blue button" href="/details/{{ task.id }}">Подробнее</a>
                          </div>
                          </div>
                         </div>
                    </div>
            </div>
        {% endif %}
      {% endfor %}

  </div>
  <div class="column">
    <div class="column-header">In progress</div>
      <div class="ui small card positive message" draggable="true">
         <div class="content">
          <span class="meta">Column with tasks you have already started</span>

         </div>
    </div>

     {% for task in tasks %}
        {% if task.status == 'in progress' %}
                    <div class="ui fluid small card" draggable="true">
                         <div class="content">

                          <a class="header">{{task.title}}</a>
                          <div class="meta">
                              <span class="date">Soft deadline: 1</span>
                          </div>
                          <div class="meta">
                              <span class="date">Deadline: 2</span>
                          </div>
                          <div class="meta">
                              <span class="date">Срок сдачи: 10.03.2023</span>
                          </div>
                          <div class="extra content">
                          <div class="ui two buttons">
                                <a class="ui basic blue button" href="/details/{{ task.id }}">Подробнее</a>                          </div>
                          </div>
                         </div>
                    </div>
        {% endif %}
      {% endfor %}
  </div>
  <div class="column">
    <div class="column-header">To fix</div>
       <div class="ui small card positive message" draggable="true">
         <div class="content">
          <span class="meta">Column with tasks to need to fix</span>

         </div>
    </div>
    {% for task in tasks %}
        {% if task.status == 'to fix' %}
                    <div class="ui fluid small card" draggable="true">
                         <div class="content">

                          <a class="header">{{task.title}}</a>
                          <div class="meta">
                              <span class="date">Soft deadline: 1</span>
                          </div>
                          <div class="meta">
                              <span class="date">Deadline: 2</span>
                          </div>
                          <div class="meta">
                              <span class="date">Срок сдачи: 10.03.2023</span>
                          </div>
                          <div class="extra content">
                          <div class="ui two buttons">
                               <a class="ui basic blue button" href="/details/{{ task.id }}">Подробнее</a>
                          </div>
                          </div>
                         </div>
                    </div>
        {% endif %}
      {% endfor %}
  </div>
  <div class="column">
    <div class="column-header">Done</div>
       <div class="ui small card positive message" draggable="true">
         <div class="content">
          <span class="meta">Column with tasks to have done</span>

         </div>
    </div>
    {% for task in tasks %}
        {% if task.status == 'done' %}
                    <div class="ui fluid small card " draggable="true">
                         <div class="content">

                          <a class="header">{{task.title}}</a>
                          <div class="meta">
                              <span class="date">Soft deadline: 1</span>
                          </div>
                          <div class="meta">
                              <span class="date">Deadline: 2</span>
                          </div>
                          <div class="meta">
                              <span class="date">Срок сдачи: 10.03.2023</span>
                          </div>
                          <div class="extra content">
                          <div class="ui two buttons">
                               <a class="ui basic blue button" href="/details/{{ task.id }}">Подробнее</a>
                          </div>
                          </div>
                         </div>
                    </div>
        {% endif %}
      {% endfor %}

  </div>
</div>


	</div>
{% endblock %}