{% extends "shared/base.html" %}


{% block title %}
  <title>Create a Job Post</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="text-danger font-weight-bold">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="row my-5">
      <h3 class="text-center display-4">Create a Job Post</h3>
      <form method="POST">
        <div class="mb-3">
          <input type="text" required class="form-control" name="title" value="{{title}}" placeholder="Homework title">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Subject" name="subject" value="{{subject}}" class="form-control">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Soft deadline" name="soft_deadline" value="{{soft_deadline}}" class="form-control">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Deadline" name="deadline" value="{{deadline}}" class="form-control">
        </div>
        <div class="mb-3">

<script>
function setter() {
    var elem_val = 0;

    var go = document.getElementsByClassName('ui dropdown');
    for (var i = 0; go[i]; i++) {

        elem_val = go[i].value;

    }

    document.getElementById("assigned_to").value = elem_val;

}

</script>



  <div class="ui input focus">
    <input placeholder="Client id"  name="assigned_to" value="{{assigned_to}}" id="assigned_to">

  <select class="ui dropdown" onchange="setter();">
    {% for client in all_clients %}
    <option value="{{ client.id }}">{{ client.name }}</option>
    {% endfor %}
  </select>
    </div>



        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" required name="description" id="exampleFormControlTextarea1" rows="3">{{description}}</textarea>
          <div id="help" class="form-text">Please provide complete Job description,requirements,perks and benefits.</div>

        </div>
                <div class="ui placeholder segment">
          <div class="ui icon header">
            <i cl ass="pdf file outline icon"></i>
            No documents are listed for this customer.
          </div>
          <div class="ui primary button">Add Document</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
  {% endblock %}
