{% extends "shared/base.html" %}

{% block title %}
  <title>Job Detail</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="ui segment">
        <h1 class="ui header">Homework details</h1>
    </div>

    <div class="row">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th scope="row">Homework title</th>
              <td colspan="2">{{task.title}}</td>
            </tr>
            <tr>
              <th scope="row">Subject</th>
              <td colspan="2">{{task.subject}}</td>
            </tr>
            <tr>
              <th scope="row">Soft deadline</th>
              <td colspan="2">{{task.soft_deadline}}</td>
            </tr>
            <tr>
              <th scope="row">Deadline</th>
              <td colspan="2">{{task.deadline}}</td>
            </tr>
            <tr>
              <th scope="row">Assigned to</th>
              <td colspan="2">{{task.assigned_to}}</td>
            </tr>
            <tr>
              <th scope="row">Data Published</th>
              <td colspan="2">{{task.date_posted}}</td>
            </tr>
             <tr>
              <th scope="row">Homework creater</th>
              <td colspan="2">{{task.owner.username}}</td>
            </tr>
            <tr>
              <th scope="row">Homework description</th>
              <td colspan="2">{{task.description}}</td>
            </tr>
            {% if task.file_url %}
            <tr>
              <th scope="row">File</th>
              <td colspan="2"><a href="{{ task.file_url }}">{{ task.file_url }}</a></td>
            </tr>
            {% endif %}
          </tbody>
      </table>
  </div>
</div>
{% endblock %}
