{% extends "shared/base.html" %}

{% block content %}

{% with msg=msg %}
{% include "components/alerts.html" %}
{% endwith %}

<table class="ui inverted celled striped table">
  <thead>
          <tr>
          <th>Name</th>
          <th>Subject</th>
          <th>Hour Price</th>
          <th>Day</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Active</th>
          <th>Delete</th>
          </tr>
  </thead>
  <tbody>
  {% for client in all_clients %}
    <tr>
        <td data-label="Name"><a href="/clients/info/{{ client.id }}">{{ client.name }}</a></td>
          <td data-label="Name">{{ client.subject }}</td>
          <td data-label="Name">{{ client.hour_price }}</td>
            <td data-label="time">{{ client.day }}</td>
          <td data-label="Name">{{ client.time }}</td>
          <td data-label="Name">{{ client.duration }}</td>

      {% if client.is_active == True %}
      <td>
          <a class="ui right negative basic button" href="/clients/deactivate/{{ client.id }}">Deactivate</a>
      </td>
      {% else %}
      <td>
          <a class="ui  positive basic button" href="/clients/activate/{{ client.id }}">Activate</a>
      </td>
      {% endif %}
        <td>
            <a class="red ui button" href="clients/delete/{{ client.id }}">Delete</a>
        </td>
    </tr>
  {% endfor %}
  </tbody>
   <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="8">
        <div class="ui right floated small  button">
            <a href="clients/create">Add student</a>
        </div>
    </tr>
  </tfoot>
</table>
{% endblock %}