{% extends "shared/base.html" %}



{% block title %}
  <title>Создание анкеты ученика</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="text-danger font-weight-bold">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="row my-5">
      <h3 class="text-center display-4">Create a student card</h3>
      <form method="POST">
        <div class="mb-3">
          <input type="text" required class="form-control" name="name" value="{{name}}" placeholder="Student name">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Subject" name="subject" value="{{subject}}" class="form-control">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Time of a lesson" name="time" value="{{time}}" class="form-control">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Hour price" name="hour_price" value="{{hour_price}}" class="form-control">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Lesson duration" name="duration" value="{{duration}}" class="form-control">
        </div>
        <div class="mb-3">
          <script>
          function setter() {
              var elem_val = 0;

              var go = document.getElementsByClassName('ui dropdown');
              for (var i = 0; go[i]; i++) {

                  elem_val = go[i].value;

              }

              document.getElementById("day").value = elem_val;

          }

          </script>
          <input type="text" required placeholder="Day of a lesson" name="day" value="{{day}}" class="form-control" id="day">
              <select class="ui dropdown" onchange="setter();">
              <option value="Понедельник">Понедельник</option>
              <option value="Вторник">Вторник</option>
              <option value="Среда">Среда</option>
              <option value="Четверг">Четверг</option>
              <option value="Пятница">Пятница</option>
              <option value="Суббота">Суббота</option>
              <option value="Воскресенье">Воскресенье</option>


            </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" required name="description" id="exampleFormControlTextarea1" required placeholder="Description of a student"
                    rows="3">{{description}}</textarea>
          <div id="help" class="form-text">Description of a student and his goals.</div>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  {% endblock %}
